html, body, #map {
    margin: 0;
    width: 100%;
    height: 100%;
}
	
#coords {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    font-family: monospace;
}

#filter-btn{
	position: absolute;
    top: 40px;
    right: 10px;
    font-family: monospace;
}

#receipt-btn{
	position: absolute;
    top: 70px;
    right: 10px;
    font-family: monospace;
}

.ol-popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 200px;
  bottom: 12px;
  left: -100px;
}

.ol-popup button {
  margin-top: 8px;
}